.tmp*
.project
*.swp
*~
*\#
.\#*
.ssh*
.config/*
!.config/user-*
!.config/sakura*
.xbmc/addons*
.xbmc/temp*
.xbmc/userdata*
/.emacs.d/eshell/history
/.emacs.d/eshell/lastdir
/.emacs.d/session.*
/.emacs.d/ac-comphist.dat
