[submodule "oh-my-zsh"]
  path = oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "slime"]
  path = .emacs.d/mine/slime
  url = https://github.com/technomancy/slime.git
[submodule "js2-mode"]
  path = .emacs.d/mine/js2-mode
  url = https://github.com/mooz/js2-mode.git
